.difficulty {
  &__top {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 35px;
    gap: 15px;
    padding: 25px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-family: "Dangrek";
    align-items: center;
  }

  &__heading {
    font-family: "Dangrek";
    font-size: 40px;
    text-align: center;

    @include small-size {
      font-size: 25px;
    }
  }

  &__selections {
    padding: 0px 50px 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;

    @include medium-size {
      padding: 0 15px 20px 15px;
    }

    @include small-size {
      flex-direction: column;
    }

    button {
      background-color: rgba(0, 139, 139, 0.3);
      color: rgba(255, 255, 255, 0.9);
      min-width: 220px;
      padding: 10px 30px;
      font-size: 35px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
      font-family: "Kanit";
      text-transform: capitalize;

      @include small-size {
        font-size: 25px;
      }

      &:hover {
        background-color: rgba(0, 139, 139, 1);
        color: black;
      }
    }
  }
  &-easy {
  }
  &-medium {
  }
  &-hard {
  }
}
